.git/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Database files
*.db
*.sqlite3

# Virtual environment
venv/
.venv/

#Internal Archives

P1/
P2/
cross_sell_clients.txt
