# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Database files
*.db
*.sqlite3

# Virtual environment
venv/
.venv/

#Internal Archives

P1/
P2/
cross_sell_clients.txts
cda_data/
data/
data_cda_fi/
defasado/
assets/
# Jupyter/IPython Notebook
.ipynb_checkpoints/

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
patchfunds.patch
.streamlit/secrets.toml
gorila_debug.log
